{% extends 'base.html' %}

{% block title %}New User Form{% endblock %}

{% block content %}
<div class="container">

<h3>Create a user</h3>

<form action = "/users/new" method="POST">
    <div class="form-group">
      <label for="first">First Name</label>
      <input type="text" class="form-control" id="first" name="first_name" Placeholder = "Enter your first name">
    </div>
    <div class="form-group">
        <label for="last">Last Name</label>
        <input type="text" class="form-control" id="last" name="last_name" Placeholder = "Enter your last name">
    </div>
    <div class="form-group">
        <label for="image">Image Url</label>
        <input type="text" class="form-control" id="image" name="img_url" Placeholder = "Enter your image url">
      </div>
    <button type="submit" class="btn btn-success">Add</button>
  </form>

</div>


{% endblock %}